

.title{
    /*margin: auto;
    height: auto;
    width: 250px;
    margin-top: 25px;
    margin-bottom: 25px;*/
}
.big-box{
    margin-top: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    

}

.container{
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    gap: 0px;
    align-content: center;
}

.box{
    box-sizing: border-box;
    border: 1px solid black;
    height: 6.25%;
    flex:1 1 6.25%;
}

.etched {
    background-color: black;
}

.button-holder{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 250px;
}

.button {
    font-size: 24px;
    color: blue;
}