.big-box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.container{
    flex-shrink: 1;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    gap: 0px;
    align-content: center;
}

.box{
    box-sizing: border-box;
    border: 1px solid black;
    /*height: 6.25%;
    flex:1 1 6.25%;*/
}